{% extends "dashboard/base.html" %}
{% load compress define_action hosts static %}
{% block extra_head %}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'styles/dashboard/home.css' %}?v=2021100200" />
    {% endcompress %}
{% endblock extra_head %}

{% block content %}

{% define request.user.club_set.all as clubs %}
<div class="row">
    <div class="col-12 mx-auto">
        <div class="card border-0 shadow rounded-3 my-2">
            <div class="card-body p-4 p-sm-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h1>
                                Hello <i>{{ request.user.username }}</i>! <i class="fa-solid fa-hand" style="transform: rotate( 34deg);"></i>
                            </h1>
                            <div class="dropdown mb-1">
                                <button class="btn text-muted" type="button" id="clubsMenuBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="clubsMenuBtn">
                                    <li>
                                        <a class="dropdown-item" data-bs-toggle="tooltip" data-bs-title="Single person GPS tracking without custom maps starting immediately" href="{% url 'quick_start_view' %}">
                                            <i class="fa-solid fa-play"></i> <span>Start tracking</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dashboard_participations_view' %}">
                                            <i class="fa-solid fa-medal"></i> <span>Participations History</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            {% block sub_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
