{% load compress hosts static %}

<div class="{{ request.host.name }}-footer footer bg-dark text-light py-4">
    <div class="container-fluid mb-3">
        <div class="row d-flex justify-content-between">
            <div class="col col-auto d-flex">
                <div class="col col-auto d-flex flex-column">
                    <h5 class="text-nowrap">Get started</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item list-unstyled">
                            <a href="{% host_url 'site:landing_page' host 'www' %}" class="nav-link text-nowrap">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% host_url 'site:public_events_view' host 'www' %}" class="nav-link text-nowrap">Featured Events</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% host_url 'site:trackers_view' host 'www' %}" class="nav-link text-nowrap">About Trackers</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% host_url 'site:pricing_view' host 'www' %}" class="nav-link text-nowrap">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% host_url 'site:tos_view' host 'www' %}" class="nav-link text-nowrap">Terms of Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-auto d-flex flex-column">
                    <h5 class="text-nowrap">Useful links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item list-unstyled">
                            <a href="{% host_url 'api_doc' host 'api' %}" class="nav-link text-nowrap">API</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://routechoices.eo.page/newsletter" class="nav-link text-nowrap">Newsletter</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% host_url 'site:privacy_policy_view' host 'www' %}" class="nav-link text-nowrap">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/1hzfi/livegepsimoottori" class="nav-link text-nowrap">Source Code</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://status.routechoices.com" class="nav-link text-nowrap">Status<span id="status-indicator" class="ms-1 blink-icon status-indicator-default"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid www-footer end-credits">
    <div class="row mb-3 d-flex align-items-center justify-content-between">
        <div class="col col-12 d-flex flex-column flex-md-row justify-content-center align-items-center text-center mt-3 mb-5">
            <div class="col col-auto d-flex align-items-center">
                <div class="col-sm-5 d-flex align-self-end">
                    <div class="d-flex align-items-center site-name mx-5 my-3">
                        <img class="img me-2" src="{% static 'img/logo.svg' %}" alt="Routechoices Logo" height="40">
                        <div>
                            <div>ROUTECHOICES</div>
                            <div>GPS TRACKING</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-auto d-flex flex-column justify-content-start align-items-start text-start">
                <span>Engineered by a Finns <a href="https://finns.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🦫</a></span>
                <span>Designed by a French <a href="https://french.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">👨‍🎤</a></span>
                <span>Tuned by a Clocksmith <a href="https://onehertz.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">⚡️</a></span>
                <span>Written by a Hacker <a href="https://hacker.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">💻</a></span>
                <span>Composed by a Pianist <a href="https://pianist.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🎹</a></span>
                <span>Inspired by Love <a href="https://love.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">❤️</a></span>
                <span>Run by a Joker <a href="https://joker.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🃏</a></span>
                <span>Running in Europe <a href="https://europe.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🇪🇺</a></span>
                <span>Used Worldwide <a href="https://world.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🌍</a></span>
                <span>Supporting Peace <a href="https://peace.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🕊️</a></span>
                <span>Pushing for Clean Energy<a href="https://cleanenergy.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🌱</a></span>
                <span>Protecting Nature <a href="https://nature.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🌲</a></span>
                <span>Powered by Open Source <a href="https://opensource.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🆓</a></span>
                <span>For Future Generations <a href="https://future.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🌎</a></span>
                <span>Slava Ukraini! <a href="https://ukraine.routechoices.com" target="_blank" rel="noopener noreferrer" class="text-decoration-none">🇺🇦</a></span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid the-end">
    <div>
        <div class="row mb-0">
            <div class="col-sm-12 info">
                <p class="text-center text-small">© Routechoices.com</p>
                <p class="text-center text-muted text-small">&nbsp;</p>
            </div>
        </div>
    </div>
</div>
{% compress js %}
<script src="{% static 'scripts/site/footer.js' %}"></script>
{% endcompress %}
