{% load compress hosts static %}
<footer id="myFooter">
    <div class="container">
        <div class="row mb-0">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li>
                        <a href="{% host_url 'site:landing_page' host 'www' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:public_events_view' host 'www' %}">Featured Events</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:trackers_view' host 'www' %}">Trackers</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:pricing_view' host 'www' %}">Pricing</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:tos_view' host 'www' %}">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Useful links</h5>
                <ul>
                    <li>
                        <a href="https://status.routechoices.com">Status <span id="status-indicator" class="status-indicator-default"></span></a>
                    </li>
                    <li>
                        <a href="{% host_url 'api_doc' host 'api' %}">API Documentation</a>
                    </li>
                    <li>
                        <a href="https://github.com/1hzfi/">Source Code</a>
                    </li>
                    <li>
                        <a href="https://routechoices.eo.page/newsletter">Newsletter</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:privacy_policy_view' host 'www' %}">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 info">
                <h5>Information</h5>
                <p>Routechoices.com is an easy-to-use yet powerful GPS tracking platform designed for orienteering and outdoor&nbsp;sports enthusiasts. Whether you're on a computer, tablet, or smartphone, you can effortlessly set up and view events where participants' live locations are displayed on high-precision maps.</p>
            </p>
        </div>
    </div>
</div>
<div class="second-bar container-fluid">
    <div>
        <div class="d-flex justify-content-between text-start site-name">
            <div class="align-self-end pt-3" style="height:2em;line-height:.8em;font-size:9.5vw" >
                <div>ROUTECHOICES</div>
                <div>GPS TRACKING</div>
            </div>
            <div class="made-by pe-2 text-end align-self-end" style="font-size:1.8vw; margin-bottom:2vw">
                <div>Made by oneHertz in Finland</div>
                <div>VAT ID: FI34130655</div>
            </div>
        </div>
    </div>
</div>
</footer>
{% compress js %}
    <script src="{% static 'scripts/site/footer.js' %}"></script>
{% endcompress %}
<!-- Footer -->
